// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.answers-block {
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid#ccc;
}
